<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ButtonStartNormal.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{384,128}</string>
    <key>spriteSourceSize</key>
    <string>{384,128}</string>
    <key>textureRect</key>
    <string>{{0,1026},{384,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ButtonStartPressed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{384,128}</string>
    <key>spriteSourceSize</key>
    <string>{384,128}</string>
    <key>textureRect</key>
    <string>{{386,1026},{384,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DiskBlack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{1026,0},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DiskRed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{1026,98},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DiskStriker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{772,1026},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DiskWhite.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,96}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{1026,196},{96,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Hole.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,122}</string>
    <key>spriteSourceSize</key>
    <string>{122,122}</string>
    <key>textureRect</key>
    <string>{{902,1026},{122,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Table.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1024,1024}</string>
    <key>spriteSourceSize</key>
    <string>{1024,1024}</string>
    <key>textureRect</key>
    <string>{{0,0},{1024,1024}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1124,1156}</string>
   <key>textureFileName</key>
   <string>Sprites.png</string>
  </dict>
 </dict>
</plist>
